    $primary-background-color: #f4f4f4;
    $primary-button-color: #007BFF;
    $primary-button-hover-color: #0056b3;
    $table-header-background-color: #007BFF;
    $table-header-text-color: #fff;
    $form-background-color: #465fa8;
    $form-box-shadow-color: rgba(0, 0, 0, 0.2);
    $overlay-background-color: rgba(0, 0, 0, 0.7);
    $button-text-color: #007BFF;
